@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

body,html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/bg-big.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    

}

.container.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 228, 228, 0.6);
    margin: 0;
    width: 900px;
    padding-bottom: 3vh;
    margin-top:5vh;
    
}

#title-header {
    font-size: 60px;
    font-family: 'Mr Dafoe', cursive;
    margin: 30px 0 15px 0;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

h2 {
    margin: 0 0 20px 0;
}

.container.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 228, 228, 0.8);
    margin-bottom: 20px;
    padding:20px;
}

p {
    margin: 5px 0;
}


#container {
    width: 480px;
    height: 480px;
    background-color: rgb(248, 236, 221);
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid; */
    padding: 0;
    margin:0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px grey;
    
}

.hovering {
    background-color: black;
}

.bottom-bar.text {
    color: rgb(10, 9, 9);
}

a {
    color: rgb(248, 236, 221);
    background-color: black;
    padding: 0 5px;
}

/* .bottom-bar.container {
    background-color: rgba(225, 228, 196, 0.2);
    color:black;
    padding: 10px;
    margin-top: auto;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
} */

